/* 修改loading字体大小 */
.uni-toast__content {	
	font-size: 28rpx;
}

/* 修改确认框字体大小 */
.uni-modal {
	.uni-modal__title {
		font-size: 32rpx;
	}
	.uni-modal__bd {
		font-size: 28rpx;
	}
	.uni-modal__btn {	
		font-size: 28rpx;
	}
}