/* 修改loading字体大小 */
.uni-toast__content {	
	font-size: 28upx;
}

/* 修改确认框字体大小 */
.uni-modal {
	.uni-modal__title {
		font-size: 32upx;
	}
	.uni-modal__bd {
		font-size: 28upx;
	}
	.uni-modal__btn {	
		font-size: 28upx;
	}
}

/* 修改picker样式 */
.uni-picker-container {
	.uni-picker-action  {
		font-size: $fontSmallSize;
	}
	.uni-picker-item {
		font-size: $fontSize;
	}
}

/* 修改popup样式 */
.uni-popup {
	z-index: 999 !important;
}
